<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <meta charset="utf-8">
        <meta name="description" content="survey dashboard">
        <meta name="author" content="ardfard">

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css">
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    </head>
    <body>
        <div id="wrapper">
           <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">Mobile Survey</li>
                    <li><a href="#" id="link-to-surveys">List of Surveys</a></li>
                    <li><a href="#" id="link-to-create-surveys">Create New Survey</a></li>
                    <li><a href="#" id="link-to-about">About</a></li>
                    <li><a href="#" id="link-to-contact">Contact</a></li>
                </ul>
           </div>
           <div id="header">
                <b id="header-greeter">Welcome!</b>
                <span style="float: right" ><span id="hdr-accountInfo">User</span><a href="/signout">[sign out]</a></span>
                    <hr>
            </div>
           <div id="main" class="container">
                main content
           </div>
        </div>
        <div id="footer">
            footer is here
        </div>
        <script type="text/javascript" href="js/bootstrap.min.js"></script>
    </body>
</html>
