<table class="table table-striped" id="survey-list">
    <thead>
        <th>Survey ID</th>
        <th>Survey Name</th>
        <th>Created On</th>
        <th>Action</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr class="survey-item">
            <td class="survey-id">1</td>
            <td class="name">Test survey</td>
            <td class="createdOn">16/10/2013</td>
            <td>
                <a class="preview"><img src="images/preview.gif"/></a>
                <!--<a class="print"><img src="images/print.gif"/></a> -->
                <!-- <a class="edit"><img src="images/edit_icon.gif"/></a> -->
                <a class="delete"><img src="images/icon-delete.gif"/></a>
            </td>
            <td class="status"><a>Complete</a></td>
        </tr>
    </tbody>
</table>
