<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <table id="numbers-table" class="table">
            <thead>
                <th>No.</th>
                <th>Number</th>
            </thead>
            <tbody>
                <tr class="item-row">
                    <td class="item-idx">
                        1
                    </td>
                    <td class="item-number">
                        +628579320420
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>